@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body{
    font-family: 'Creepster', cursive;
    
}

.startPage {
    background-image: url(/images/portada2.jpg) ;
    background-repeat: no-repeat;
    background-size: 1450px 820px;
}

canvas { 
    display:block; 
    height: 100vh; 
    width: 100vw; 
    margin: 0;
    padding: 0;
  }

.front{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    background-image: url(/images/portada1.jpeg);
    background-repeat: no-repeat;
    background-size: 1200px 700px;
    z-index: 200;
    color: red;
    text-align: center;
    line-height: 90vh;

}

h1{
    font-size: 6em;
}

.front.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    color: red;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}

@keyframes fadeIn {
   to{
       opacity: 1;
   }
    
}

.fade-In{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}